################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevopsWelcome/packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.2.0.0
